---
layout: default.hbs
id: youtube
subject: YouTube Ads Leaderboard Top 10
---
<table class="container">
  <tr>
    <td>

      <!-- content start -->
      <table class="row logo">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td class="center" align="center">
                  <center>
                    <img width="297" height="32" src="/assets/logo.gif" alt="YouTube Ads Leaderboard" class="center">
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row callout">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td>
                  <div class="callout__header">Congrats Starcom Mediavest</div>
                  <div class="callout__sub-header">Everyone's talking about Starcom's #DearMe ad on the March 2015 YouTube Ads Leaderboard.</div>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row image">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td>
                  <img src="/assets/placeholder.jpg" width="625" height="936" alt="">
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row share">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td>
                  <div class="share__item share__item--copy">
                    <p class="share__cta">Share your award with the world</p>
                    <p class="share__others"><a href="#">See other Winners</a></p>
                  </div>
                  <div class="share__item share__item--buttons">
                    <a href="#"><img src="/assets/social-g.gif" width="46" height="46" alt="Share on Google+"></a>
                    <a href="#"><img src="/assets/social-t.gif" width="46" height="46" alt="Share on Twitter"></a>
                    <a href="#"><img src="/assets/social-f.gif" width="46" height="46" alt="Share on Facebook"></a>
                  </div>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row linkedin">
        <tr>
          <td class="wrapper">

            <table class="nine columns">
              <tr>
                <td>
                  <div class="linkedin__badge-container">
                    <img src="/assets/bookmark-march.gif" width="90" height="94" alt="">
                  </div>
                  <div class="linkedin-cta">
                    <div class="linkedin-cta__header">Add your badge to LinkedIn</div>
                    <div class="linkedin-cta__copy">Let your network see your awesomeness 
                    by adding a YouTube Leaderboard badge 
                    to your profile.</div>
                  </div>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
          <td class="wrapper last">

            <table class="three columns">
              <tr>
                <td class="linkedin__logo-container">
                  <img src="/assets/linkedin.gif" width="106" height="30" alt="">
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
      <!-- container end below -->
    </td>
  </tr>
</table>