<table class="row footer">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <p>&copy; {{global.year}} YouTube, All rights reserved.</p>
            <p><a href="#">Unsubscribe</a> from this list.</p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>