@import "sanitize-css/sanitize.scss"; //bower
@import "utilities/_placeholders.scss";
@import "utilities/_mixins.scss";
@import "utilities/_boxSize.scss";
@import "utilities/_angular.scss";

@import "_zIndex.scss";

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

input[type="text"],
input[type="number"],
textarea {
  border: 1px solid;
}

button {
  border: 1px solid;
  background: #eee;
  padding: 0 10px;
}

.yt-canvas-container {
  @include absolute-position(0,0);
  height: 100%;
  width: 100%;
  overflow: auto;

  > canvas {
    transform-origin: 0 0;
  }
}

.yt-save-image {
  @include absolute-position($bottom: 0, $left: 0);
  background-color: #fff;
  opacity: 0.9;
  transition: transform 250ms;
  transform: translateY(100%);
  width: 100%;

  .yt-app__panel:hover & {
    transform: translateY(0);
  }
}

.yt-app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__panel {
    flex: 1 0 0;
    position: relative;
  }
}

.yt-app-options {
  overflow-y: scroll;
  height: 100vh;
}

.yt-text {
  > textarea {
    display: block;
    font-size: inherit;
    height: 40vh;
    min-height: 200px;
    width: 100%;
  }
}

.yt-options {
  &__item {
    display: block;
  }
}

input {
  vertical-align: baseline;
}