<script id="hb-text-layer" type="text/x-handlebars-template">
  <div class="yt-layer__item">
    <div class="yt-layer-item yt-layer-item--mask">
      <label><input type="color" data-layer="text" data-index="{{index}}" name="fill" value="{{element.fill}}"/> Color</label>
      <label><input type="number" data-layer="text" data-index="{{index}}" name="size" value="{{element.size}}"/> Font size</label>
      <label><input type="text" data-layer="text" data-index="{{index}}" name="mask"/> Mask Id</label>
    </div>
  </div>
</script>