<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- build:process -->
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="<%= viewport %>" />
  <!-- /build -->
  <!-- compile:style app -->
      <!-- build:style vendor --><!-- /build -->
      <!-- build:style app --><!-- /build -->
  <!-- /compile -->
  <!-- compile:script modernizr -->
      <!-- build:script modernizr --><!-- /build -->
  <!-- /compile -->
</head>
<body>
  <div class="yt-app">
    <div class="yt-app__panel">
      <div class="yt-canvas-container js-canvas-container"></div>
      <!-- <div class="yt-save-image">
        <a href="#" class="yt-save-image__button js-save" download="vector">Save</a>
      </div> -->
    </div>
    <div class="yt-app__panel">
      <div class="yt-app-options">
        Text:<br/>
        <textarea class="yt-app-options__text js-textarea">
          Harry Truman, Doris Day, Red China, Johnnie Ray
South Pacific, Walter Winchell, Joe DiMaggio

Joe McCarthy, Richard Nixon, Studebaker, television
North Korea, South Korea, Marilyn Monroe

Rosenbergs, H-bomb, Sugar Ray, Panmunjom
Brando, "The King and I" and "The Catcher in the Rye"

Eisenhower, vaccine, England's got a new queen
Marciano, Liberace, Santayana goodbye

We didn't start the fire
It was always burning
Since the world's been turning
We didn't start the fire
No we didn't light it
But we tried to fight it

Joseph Stalin, Malenkov, Nasser and Prokofiev
Rockefeller, Campanella, Communist Bloc

Roy Khan, Juan Peron, Toscanini, Dacron
Dien Bien Phu falls, "Rock Around the Clock"

Einstein, James Dean, Brooklyn's got a winning team
Davy Crockett, Peter Pan, Elvis Presley, Disneyland

Bardot, Budapest, Alabama, Krushchev
Princess Grace, "Peyton Place", trouble in the Suez

We didn't start the fire
It was always burning
Since the world's been turning
We didn't start the fire
No we didn't light it
But we tried to fight it

Little Rock, Pasternak, Mickey Mantle, Kerouac
Sputnik, Chou En-Lai, "Bridge on the River Kwai"

Lebanon, Charlse de Gaulle, California baseball
Starkweather, homicide, children of thalidomide

Buddy Holly, "Ben Hur", space monkey, Mafia
Hula hoops, Castro, Edsel is a no-go

U2, Syngman Rhee, payola and Kennedy
Chubby Checker, "Psycho", Belgians in the Congo

We didn't start the fire
It was always burning
Since the world's been turning
We didn't start the fire
No we didn't light it
But we tried to fight it

Hemingway, Eichmann, "Stranger in a Strange Land"
Dylan, Berlin, Bay of Pigs invasion

"Lawrence of Arabia", British Beatlemania
Ole Miss, John Glenn, Liston beats Patterson

Pope Paul, Malcolm X, British politician sex
JFK, blown away, what else do I have to say

We didn't start the fire
It was always burning
Since the world's been turning
We didn't start the fire
No we didn't light it
But we tried to fight it

Birth control, Ho Chi Minh, Richard Nixon back again
Moonshot, Woodstock, Watergate, punk rock
Begin, Reagan, Palestine, terror on the airline
Ayatollah's in Iran, Russians in Afghanistan

"Wheel of Fortune", Sally Ride, heavy metal, suicide
Foreign debts, homeless vets, AIDS, crack, Bernie Goetz
Hypodermics on the shores, China's under martial law
Rock and roller cola wars, I can't take it anymore

We didn't start the fire
It was always burning
Since the world's been turning
We didn't start the fire
But when we are gone
Will it still burn on, and on, and on, and on

We didn't start the fire
It was always burning
Since the world's been turning
We didn't start the fire
No we didn't light it
But we tried to fight it

We didn't start the fire
It was always burning
Since the world's been turning
We didn't start the fire
No we didn't light it
But we tried to fight it
        </textarea>
      </div>
      <button class="yt-app-button js-generate">Generate</button>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Open Sans:600,800']
      }
    });
  </script>
  <!-- compile:script app -->
  <!-- build:script vendor --><!-- /build -->
  <!-- build:script app --><!-- /build -->
  <!-- /compile -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Load SVG and prepare canvas
      var bragBag = new BragBag('assets/svg/girl2.svg', {
        canvasTarget: '.js-canvas-container'
      });

      // Set up events
      var textElem = document.querySelector('.js-textarea');
      var generateElem = document.querySelector('.js-generate');
      var saveElem = document.querySelector('.js-save');

      generateElem.addEventListener('click', function () {
        bragBag.setText(textElem.value);
        bragBag.generateImage();
      });

      // saveElem.addEventListener('click', function () {
      //   var cavnasElem = document.querySelector('.js-canvas-container canvas');
      //   saveElem.href = cavnasElem.toDataURL();
      // });
    });
    
  </script>
</body>
</html>