<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- build:process -->
  <title>Image Generator</title>
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="<%= viewport %>" />
  <!-- /build -->
  <!-- compile:style app -->
      <!-- build:style vendor --><!-- /build -->
      <!-- build:style app --><!-- /build -->
  <!-- /compile -->
  <!-- compile:script modernizr -->
      <!-- build:script modernizr --><!-- /build -->
  <!-- /compile -->
</head>
<body ng-app="bragBag">
  <div class="yt-app" ng-controller="BragBagController as bb">
    <div class="yt-app__panel">
      <div class="yt-canvas-container js-canvas-target"></div>
    </div>
    <div class="yt-app__panel">
      <form novalidate>
      <div class="yt-app-options">
        <div class="yt-app-options__item yt-app-options__item--file">
          <div class="yt-options-title">1. Upload SVG File:</div>
          <label><input type="file" yt-upload/></label>
        </div>
        <div class="yt-app-options__item yt-app-options__item--text">
          <div class="yt-options-title">2. Enter Comment Text:</div>
          <div class="yt-text">
            <textarea ng-model="bb.params.text">
            </textarea>
          </div>
        </div>
        <!-- <div class="yt-app-options__item yt-app-options__item--bg">
          <div class="yt-options-title">Background Options:</div>
          <div class="yt-options">
            <div class="yt-options__item"><label><input type="color" ng-model="bb.params.bgFill"> Fill</label></div>
            <div class="yt-options__item"><label><input type="color" ng-model="bb.params.bgTextColor"> Text color</label></div>
          </div>
        </div> -->
        <div class="yt-app-options__item yt-app-options__item--layers">
          <!-- <div class="yt-options-title">Layer Options:</div>
          <div class="yt-options">
            <div class="yt-options__item"><label><input type="color" data-param="fill" ng-model="bb.params.fill" ng-change="bb.updateParam('fill')"> Base Fill</label></div> -->
            <div class="yt-layer yt-layer--masks" ng-show="bb.collections.mask.length" ng-cloak>
              <div class="yt-options-title">3. Name the "Readable Text" Layers:</div>
              <div class="yt-layer__item" ng-repeat="maskLayer in bb.collections.mask">
                <div class="yt-layer-item yt-layer-item--mask">
                  <label><input type="text" ng-model="maskLayer.id" placeholder="Name this layer"/> Id</label>
                  <label><input type="number" ng-model="maskLayer.size"/> Font size</label>
                </div>
              </div>
            </div>
            <div class="yt-layer yt-layer--text" ng-show="bb.collections.text.length" ng-cloak>
              <div class="yt-options-title">4. Associate Readable Layers with "Readable Text" Layers:</div>
              <div class="yt-layer__item" ng-repeat="textLayer in bb.collections.text">
                <div class="yt-layer-item yt-layer-item--mask">
                  <label><input type="color" ng-model="textLayer.fill"/> Color</label>
                  <label><input type="number" ng-model="textLayer.size"/> Font size</label>
                  <label><select class="yt-mask-options" ng-model="textLayer.mask">
                    <option value=""></option>
                    <option ng-repeat="maskLayer in bb.collections.mask" value="{{maskLayer.id}}">{{maskLayer.id}}</option>
                  </select> Mask Id</label>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="yt-app-options__item yt-app-options__item--scale">
            <label><input type="checkbox" ng-model="bb.scale" checked /> Scale preview </label>
          </div> -->
          <button class="yt-app-button" ng-click="bb.generateImage();">Generate</button>
        </div>
      </div>
      </form>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Open Sans:400,600,800']
      }
    });
  </script>
  <!-- build:section templates --><!-- /build -->
  <!-- compile:script app -->
  <!-- build:script vendor --><!-- /build -->
  <!-- build:script app --><!-- /build -->
  <!-- /compile -->
  </script>
</body>
</html>