<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- build:process -->
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="<%= viewport %>" />
  <!-- /build -->
  <!-- compile:style app -->
      <!-- build:style vendor --><!-- /build -->
      <!-- build:style app --><!-- /build -->
  <!-- /compile -->
  <!-- compile:script modernizr -->
      <!-- build:script modernizr --><!-- /build -->
  <!-- /compile -->
</head>
<body>
  <!-- compile:script app -->
  <!-- build:script vendor --><!-- /build -->
  <!-- build:script app --><!-- /build -->
  <!-- /compile -->
  <script>
    var bragBag = new BragBag('assets/svg/Old_Spice-for-web.svg');
  </script>
</body>
</html>