<table class="row footer">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="text-pad">

                    <p>&copy; {{global.year}} Google Inc. 1600 Amphitheatre Parkway, Mountain View, CA  94043. All Rights Reserved. You are receiving this message because someone at Google noted you as a contributor this YouTube Ads Leaderboard featured project. If you no longer wish to receive these communications, please <a href="*|UNSUB|*">unsubscribe</a> here.</p>
                    *|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>