<table class="row footer">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <p>&copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</p>
            <p><a href="*|UNSUB|*">Unsubscribe</a> *|EMAIL|* from this list.</p>
            *|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>